@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Merriweather", serif;
}
.layoutContainer {
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.firstSubContainer {
  height: 100%;
  width: 25%;
  background-color: #fafafa;
}
.middleSubContainer {
  height: 100%;
  width: 45%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lastSubContainer {
  height: 100%;
  width: 26%;
  background-color: white;
}
#custom-stacked-chart {
  max-width: 95%;
  height: 90%;
  border-radius: 8px;
}
.Name {
  position: absolute;
}
.greet {
  margin-top: 50px;
  font-size: 12px;
  color: grey;
}
.greetContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}
.retirementStrategyContainer {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stonesContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}
.firstStone {
  height: 45px;
  width: 50px;
  background-color: #73b0ff;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 5px;
  border-top-left-radius: 55px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 15px;
  position: absolute;
}
.secondStone {
  height: 25px;
  width: 120px;
  border-top-left-radius: 100%;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 10px;
  background-color: #0001a2;
  position: absolute;
}
.comparisonHeading {
  margin: 0;
}
.profile {
  height: 60px;
  width: 60px;
  border-radius: 33px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.notificationIconContainer {
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.bellIcon {
  font-size: 14px;
  color: grey;
}
.notificationDot {
  height: 5px;
  width: 5px;
  margin-right: 4%;
  background-color: lightskyblue;
  border-radius: 2.5px;
}
.todayTransactionsContainer {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slidecontainer {
  width: 80%;
}
.ageSlideContainer {
  width: 70%;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    to right,
    lightskyblue 0%,
    lightskyblue 50%,
    #d3d3d3 50%,
    #d3d3d3 100%
  );
  outline: none;
  opacity: 0.7;
  border-radius: 5px;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
.sliderRangeContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: -20px;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: white;
  cursor: pointer;
}

.Dropdown {
  height: 40px;
  width: 45%;
  background-color: #4435fd;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}
.contributions {
  color: grey;
  font-size: 12px;
  margin-top: -7%;
  margin-left: 5px;
}
.day {
  margin-top: -2%;
}
.todayAmount {
  margin-top: -5%;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.todayBalance {
  color: grey;
  font-size: 12px;
  margin-top: -7%;
}
.yearlyTransitions {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.boldText {
  font-weight: "bolder";
  margin-top: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.fas.fa-caret-down {
  color: white;
  margin-left: 10px;
}
.todayTransactions {
  height: auto;
  width: 100%;
}
.contentContainer {
  height: fit-content;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.navbar {
  height: 100%;
  width: 4%;
}
.logo {
  height: 25px;
  width: 25px;
  margin-top: 20px;
}
.logoContainer {
  height: 23%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.linksContainer {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.iconContainer {
  height: 30px;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 7px;
  flex-direction: row;
  background-color: blue;
}

.navIcon {
  color: gray;
  font-size: 16px;
  margin: 15px;
}
.active {
  color: white;
  height: 30px;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 7px;
  flex-direction: row;
  background-color: blue;
}
.desktopSearch {
  font-size: 14px;
  color: grey;
  margin-top: 30%;
}
.exitContainer {
  height: 17%;
  width: 100%;
}
.desktopNotification {
  height: 50%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.desktopNotificationDot {
  height: 5px;
  width: 5px;
  margin-left: 25%;
  background-color: lightskyblue;
  border-radius: 2.5px;
}
.desktopBellIcon {
  color: grey;
}
.exitIcon {
  color: grey;
  height: 50%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profileContent {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.profileIntroContainer {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileContainer {
  height: 100%;
  width: 30%;
  align-items: center;
  display: flex;
}
.interestAmount {
  color: grey;
  font-size: 12px;
}
.recentTransactionsContainer {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.withdrawalContainer {
  width: 80%;
  max-height: 60px;
  border-bottom: 1px solid #eaeaec;
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.date {
  color: grey;
  font-size: 12px;
}
.withdrawal {
  font-size: 12px;
  color: black;
  margin-top: -10px;
}
.transactionsContainer {
  flex-direction: column;
  display: flex;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.retirementIncomeContainer {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
}
.retirmentContentContainer {
  width: 80%;
  height: 100%;
  margin: 0;
}
.incomeYear {
  margin: 0;
  font-size: 18px;
  margin-top: 4px;
  color: black;
}
.retirementIncomeHeading {
  margin: 0;
  font-size: 12px;
  color: blue;
}
.goalEstimation {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.amount {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.myGoalContainer {
  width: 30%;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom: 1px solid blue;
}
.goalAchievedContainer {
  width: 30%;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom: 1px solid blue;
}
.estimateIncomeContainer {
  width: 30%;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom: 1px solid blue;
}
.chart {
  height: 50px;
  width: 100%;
}
.myGoal {
  font-size: 12px;
  color: grey;
  margin-top: 5px;
}
.chartContainer {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.goalDescription {
  font-size: 11px;
  color: grey;
  margin: 0;
  margin-top: 8px;
}
.mobileChartContainer {
  display: none;
}
.desktopChartContainer {
  height: 75%;
  width: 100%;
}
.comparisonContainer {
  height: 25%;
  width: 100%;
  margin-top: 15px;
}
.progressContainer {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.averageProgressContainer {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topProgressContainer {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meProgressContainer {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoLabel {
  font-size: 12px;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}
.selectorContainer {
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 35px;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  width: 100%;
}
.circularProgressContainer {
  width: 50%;
  height: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}
.ageSelector {
  font-size: 12px;
  font-family: "Merriweather", serif;
  margin-left: 5px;
}
.personalInfoContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contributionsContainer {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0px;
  margin-top: -15px;
  justify-content: space-between;
}
.employerAmountContainer {
  width: 30%;
  height: 100%;
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.employerColorDisplay {
  height: 7px;
  width: 10px;
  border-radius: 5px;
  background-color: #0001a2;
}
.employeeAmountContainer {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.contributionText {
  font-size: 10px;
  color: grey;
}
.employeeColorDisplay {
  height: 7px;
  width: 10px;
  border-radius: 5px;
  background-color: #493afd;
}
.totalInterestDisplay {
  height: 7px;
  width: 10px;
  border-radius: 5px;
  background-color: #73b0ff;
}
.totalInterestContainer {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.ageSelector {
  width: 80%;
  background-color: transparent;
  border: none;
}
.mobileIncome {
  display: none;
}
.ContributionAmount {
  font-size: 12px;
  color: black;
  margin: 0;
}
.circular-progress {
  position: relative;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress::before {
  content: "";
  position: absolute;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: #fff;
}
.progress-value {
  position: relative;
  font-size: 14px;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}
.text {
  font-size: 30px;
  font-weight: 500;
  color: #606060;
}
.progress-text {
  font-size: 11px;
  color: black;
}
.slidersContainer {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spaceContainer {
  height: 8%;
  width: 100%;
}
.retirementStrategy {
  height: 70%;
  width: 75%;
  padding-top: 15px;
  background-color: #fafafa;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.outputContainer {
  background-color: white;
  height: 20px;
  width: 25px;
  justify-content: center;
  align-items: center;
  font-family: Merriweather, serif;
  display: flex;
}
.ageSlider {
  height: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  border-bottom: 0.1px solid lightgrey;
}
.helpLinkText {
  font-size: 10px;
  color: #0001a2;
  margin-right: 10px;
  font-family: "Merriweather", serif;
  font-weight: 700;
}
.btnContainer {
  width: 100%;
  margin-right: 15px;
}
.updateBtn {
  height: 37px;
  width: 90%;
  background-color: #4435fd;
  border: none;
  color: white;
  font-weight: lighter;
  border-radius: 10px;
}
.housingAdvanceContainer {
  height: 18%;
  width: 80%;
  margin-top: 15px;
  border-left: 1px solid blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.helpLink {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.housingContentContainer {
  max-width: 55%;
  max-height: fit-content;
  padding-left: 10px;
}
.interestRate {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.employerContribution {
  width: 90%;
  height: 6%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.strategyHeading {
  margin: 0;
  font-size: 12px;
}
.option {
  font-size: 12px;
}
.stackedBarContainer {
  height: 120px;
  width: 300px;
  background-color: green;
}
.genderDropdown {
  display: flex;
  flex-direction: row;
  font-family: "Merriweather,serif";
  font-size: 12px;
}
.stickyBtn {
  display: none;
}
/* MEDIA QUERY FOR MOBILES */
@media (max-width: 480px) {
  .contributionsOvertime {
    font-size: 16px;
    margin-top: 56px;
  }
  .mobileChartContainer {
    height: 100%;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .comparisonContainer {
    margin-top: 50px;
  }
  .desktopChartContainer {
    display: none;
  }
  .btnContainer {
    display: none;
  }
  .updateBtn {
    display: none;
  }
  .stonesContainer {
    display: none;
  }
  .stickyBtn {
    height: 50px;
    width: 100%;
    background-color: #0001a2;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .ageSlider {
    border-bottom: 0px;
  }
  .strategyHeading {
    font-size: 14px;
  }
  .interestRate {
    margin-top: 10px;
  }
  .retirementStrategy {
    height: 200px;
    width: 100%;
    padding-top: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .slidersContainer {
    height: 100%;
    width: 90%;
    display: flex;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
  }
  .lastSubContainer {
    width: 100%;
    height: 350px;
  }
  .retirementStrategyContainer {
    /* height: 400px; */
    width: 100%;
    display: flex;
    background-color: #fafafa;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    align-items: center;
    flex-direction: column;
  }

  .spaceContainer {
    display: none;
  }
  .stackedBarContainer {
    height: 200px;
    width: "100%";
  }
  .housingAdvanceContainer {
    display: none;
  }
  .helpLink {
    display: none;
  }
  .genderDropdown {
    display: flex;
    flex-direction: row;
    font-family: "Merriweather,serif";
    font-size: 12px;
  }
  .circularProgressContainer {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    margin-top: -50px;
  }
  .progressContainer {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .personalInfoContainer {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .comparisonHeading {
    font-size: 13px;
  }
  .comparisonContainer {
    height: 350px;
    width: 100%;
  }
  .goalDescription {
    font-size: 10px;
    color: grey;
    margin: 0;
    margin-top: 5px;
  }
  .contributionsContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
  }
  .employerAmountContainer {
    width: 30%;
    display: flex;
    align-items: flex-start;
    height: 65px;
    flex-direction: column;
  }
  .chartContainer {
    height: 250px;
    width: 100%;
    background-color: white;
  }
  .employeeAmountContainer {
    width: 30%;
    display: flex;
    align-items: flex-start;
    height: 65px;
    flex-direction: column;
  }
  .totalInterestContainer {
    width: 30%;
    display: flex;
    align-items: flex-start;
    height: 65px;
    flex-direction: column;
  }
  .goalAchievedContainer {
    display: none;
  }
  .estimateIncomeContainer {
    display: none;
  }
  .goalEstimation {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .mobileIncome {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-between;
  }
  .mobileEstimateIncome {
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-bottom: 1px solid blue;
  }
  .mobileGoalAchieved {
    width: 45%;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-bottom: 1px solid blue;
  }
  .retirmentContentContainer {
    margin-top: 10px;
  }
  .retirementIncomeContainer {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
  .myGoalContainer {
    height: 55px;
    width: 100%;
    margin-top: 20px;
  }
  .incomeYear {
    margin: 0;
  }
  .profile {
    height: 65px;
    width: 65px;
    border-radius: 33px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .profileIntroContainer {
    height: 100px;
  }
  .exitContainer {
    display: none;
  }
  .navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    z-index: 1;
  }

  .navIcon {
    margin: 0;
    font-size: 14px;
  }
  .layoutContainer {
    flex-direction: column;
    height: fit-content;
    background-color: #4435fd;
  }
  .firstSubContainer {
    width: 100%;
    height: fit-content;
    background-color: white;
  }
  .middleSubContainer {
    width: 100%;
    height: auto;
    background-color: white;
  }

  .profileContainer {
    justify-content: end;
    align-items: center;
    display: flex;
    width: 25%;
  }
  .boldText {
    margin-top: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .greetContainer {
    height: 80%;
  }
  .todayTransactionsContainer {
    width: 100%;
    height: 270px;
  }
  .contentContainer {
    width: 75%;
    background-color: #fafafa;
    border-radius: 20px;
    height: 100%;
    display: flex;
    padding-left: 15px;
    justify-content: center;
    flex-direction: column;
  }
  .contributions {
    display: none;
  }
  .todayAmount {
    font-size: 28px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .logoContainer {
    display: none;
  }
  .linksContainer {
    height: 100%;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
    align-items: center;
  }
  .active {
    height: 30px;
    width: 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 7px;
    flex-direction: row;
    background-color: blue;
    color: white;
  }
  .caretIcon {
    display: none;
  }
  .yearlyTransitions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .todayBalance {
    color: grey;
    font-size: 12px;
    margin-top: -20px;
  }
  .interestAmount {
    color: grey;
    font-size: 12px;
  }
  .amountContainer {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .dropdownLabel {
    font-size: 12px;
    color: black;
  }
  .dropdownRow {
    display: flex;
    flex-direction: row;
    font-family: "Merriweather", serif;
  }
  .Dropdown {
    width: 90%;
    margin-top: 10px;
    border-radius: 7px;
  }
  .btnText {
    font-weight: bold;
  }
  .recentTransactionsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .transactionsContainer {
    flex-direction: column;
    display: flex;
    height: 250px;
    background-color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 20px;
    border-radius: 15px;
  }

  .employerColorDisplay {
    height: 7px;
    width: 10px;
  }
  .employeeColorDisplay {
    height: 7px;
    width: 10px;
  }
  .totalInterestDisplay {
    height: 7px;
    width: 10px;
  }
  .withdrawal {
    font-size: 10px;
    margin-top: -5px;
  }
}

/* MEDIA QUERY FOR SMALL DEVICES */

@media (min-width: 481px) and (max-width: 767px) {
  .exitContainer {
    display: none;
  }
  .navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
  }
  .navIcon {
    margin: 0;
    font-size: 14px;
  }
  .layoutContainer {
    flex-direction: column;
  }
  .firstSubContainer {
    width: 100%;
    height: auto;
    background-color: white;
  }
  .middleSubContainer {
    width: 100%;
    height: auto;
  }
  .lastSubContainer {
    width: 100%;
    height: auto;
  }
  .profileIntroContainer {
    width: 100%;
    display: flex;
    height: auto;
    height: 100px;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .profileContainer {
    justify-content: end;
    align-items: center;
    display: flex;
    width: 25%;
  }
  .boldText {
    margin-top: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .greetContainer {
    height: 80%;
  }
  .Dropdown {
    width: 90%;
    margin-top: 10px;
    border-radius: 7px;
  }
  .todayAmount {
    font-size: 28px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .logoContainer {
    display: none;
  }
  .linksContainer {
    height: 100%;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
    align-items: center;
  }
  .active {
    height: 30px;
    width: 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 7px;
    flex-direction: row;
    background-color: blue;
    color: white;
  }
  .caretIcon {
    display: none;
  }
  .amountContainer {
    width: 45%;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
  }
  .todayBalance {
    color: grey;
    font-size: 12px;
    margin-top: -20px;
  }
  .todayTransactionsContainer {
    width: 100%;
    height: 300px;
  }
  .contentContainer {
    width: 70%;
    background-color: #fafafa;
    border-radius: 20px;
    height: 100%;
    display: flex;
    padding-left: 15px;
    justify-content: center;
    flex-direction: column;
  }
  .contributions {
    display: none;
  }
  .todayAmount {
    font-size: 28px;
    margin-top: 1px;
  }
  .yearlyTransitions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .transactionsContainer {
    flex-direction: column;
    display: flex;
    height: 280px;
    background-color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 20px;
    border-radius: 15px;
  }
  .recentTransactionsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* MEDIA QUERY FOR MEDIUM DEVICES */

@media (min-width: 767px) {
  .notificationIconContainer {
    display: none;
  }
  .search-icon {
    display: none;
  }
}
.housingText {
  font-size: 10px;
}
/* MEDIA QUERY FOR TABLET  */
@media (min-width: 768px) and (max-width: 991px) {
  .contributionSlider{
    width: 100px;
    justify-content: flex-start;
  }
  .ageSlider{
    justify-content: flex-start;
    width: 100px;
      }
  .outputContainer{
    height: 15px;
    width: 15px;
  }
  .contributionsHeadings {
    font-size: 20px;
  }
.sliderRangeContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  flex-direction: row;
}
.slider{
  margin-top: 20px;
  position: relative;
}
  .mobileChartContainer {
    height: 50%;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .desktopChartContainer {
    display: none;
  }
  .housingText {
    font-size: 8px;
  }
  .housingAdvanceContainer {
    height: 20%;
    width: 80%;
    margin-top: 15px;
    border-left: 1px solid blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .housingContentContainer {
    max-width: 55%;
    max-height: fit-content;
    padding-left: 10px;
  }

  .retirementStrategyContainer {
    height: 55%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .helpLinkText {
    font-size: 8px;
  }

  .updateBtn {
    height: 25px;
    width: 90%;
    background-color: #4435fd;
    border: none;
    color: white;
    font-weight: lighter;
    font-size: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  .btnContainer {
    width: 100%;
    margin-right: 15px;
  }
  .employerContribution {
    width: 90%;
    height: 8%;
    display: flex;
    font-size: 11px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .interestRate {
    width: 90%;
    height: 8%;
    display: flex;
    font-size: 11px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .contributionSlider {
    height: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
  }

  .contributionsHeadings {
    font-size: 6px;
    margin-top: -20px;
    padding: 0;
    margin: 0;
  }
  .strategyHeading {
    font-size: 10px;
  }
  .genderDropdown {
    font-size: 8px;
  }
  .circularProgressContainer {
    width: 80%;
  }

  .averageProgressContainer {
    width: 25%;
  }

  .circular-progress {
    height: 40px;
    width: 40px;
    max-height: 50px;
    max-width: 50px;
  }

  .circular-progress::before {
    height: 32px;
    width: 32px;
    max-height: 40px;
    max-width: 40px;
  }

  .progress-value {
    font-size: 12px;
  }

  .progress-text {
    font-size: 9px;
  }
  .personalInfoContainer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .selectorContainer {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 35px;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    width: 100%;
  }

  .infoLabel {
    font-size: 8px;
    color: black;
    font-weight: bold;
  }
  .dropdown {
    font-size: 8px;
  }
  .progressContainer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .goalDescription {
    font-size: 8px;
    color: grey;
    margin: 0;
    margin-top: 4px;
  }
  .retirementIncomeHeading {
    margin: 0;
    font-size: 10px;
    color: blue;
  }
  .incomeYear {
    font-size: 10px;
  }
  .comparisonHeading {
    font-size: 10px;
  }
  .contributionsOvertime {
    font-size: 12px;
  }
  .employerColorDisplay {
    height: 5px;
    width: 7px;
  }
  .employeeColorDisplay {
    height: 5px;
    width: 7px;
  }
  .totalInterestDisplay {
    height: 5px;
    width: 7px;
  }
  .ContributionAmount {
    font-size: 8px;
    color: black;
    margin: 0;
  }
  .myGoalContainer {
    justify-content: center;
    height: 70%;
  }
  .goalAchievedContainer {
    justify-content: center;
    height: 70%;
  }
  .estimateIncomeContainer {
    justify-content: center;
    height: 70%;
  }
  .amount {
    font-size: 12px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .myGoal {
    font-size: 6px;
    margin-top: 3px;
  }
  .contributionsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    margin-top: -15px;
    justify-content: space-between;
  }
  .employerAmountContainer {
    width: 30%;
    display: flex;
    flex-direction: row;
  }
  .contributionText {
    font-size: 6px;
  }
  .totalInterestContainer {
    width: 35%;
  }
  .navbar {
    width: 6%;
  }
  .lastSubContainer {
    width: 30%;
  }
  .profileIntroContainer {
    height: 20%;
  }
  .logo {
    height: 20px;
    width: 20px;
    margin-top: 35px;
  }
  .navIcon {
    font-size: 14px;
  }
  .desktopSearch {
    font-size: 12px;
  }
  .desktopNotification {
    justify-content: flex-start;
  }
  .exitIcon {
    justify-content: flex-start;
  }
  .profileContainer {
    width: auto;
  }
  .greetContainer {
    width: 55%;
  }
  .profile {
    height: 45px;
    width: 45px;
    border-radius: 25px;
  }
  .Name {
    font-size: 14px;
    position: absolute;
  }
  .greet {
    margin-top: 30px;
    font-size: 10px;
  }
  .todayAmount {
    margin-top: -15%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .todayContributions {
    margin-top: -15px;
    font-size: 12px;
    color: grey;
  }
  .todayBalance {
    margin-top: -12px;
    font-size: 8px;
    color: grey;
  }
  .Dropdown {
    width: 65%;
  }
  .todayAmount {
    font-size: 16px;
    margin-top: -5px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .day {
    font-size: 10px;
    margin-top: -10px;
  }
  .contributions {
    display: none;
  }
  .withdrawalContainer {
    width: 100%;
  }
  .date {
    font-size: 9px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .withdrawal {
    font-size: 8px;
    margin-top: -5px;
  }
  .Dropdown {
    height: 30px;
    border-radius: 5px;
  }
  .day {
    font-size: 10px;
  }
  .boldText {
    font-size: 12px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .incomeYear {
    font-size: 12px;
  }
}

/* MEDIA QUERY FOR EXTRA LARGE DEVICES */
@media (min-width: 1024px) {
  .logo {
    height: 25px;
    width: 25px;
    margin-top: 50%;
  }
}

/* MEDIA QUERY FOR SMALLEST DEVICES */
@media (max-width: 320px) {
  .transactionsContainer {
    width: 80%;
  }
  .contentContainer {
    width: 80%;
  }
}

/* MEDIA QUERY FOR LARGE TABLETS/LAPTOPS   */

@media (min-width: 991px) and (max-width: 1024px) {
  .housingText {
    font-size: 8px;
  }
  .housingAdvanceContainer {
    height: 20%;
    width: 80%;
    margin-top: 15px;
    border-left: 1px solid blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .housingContentContainer {
    max-width: 55%;
    max-height: fit-content;
    padding-left: 10px;
  }

  .retirementStrategyContainer {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .helpLinkText {
    font-size: 8px;
  }

  .updateBtn {
    height: 25px;
    width: 90%;
    background-color: #4435fd;
    border: none;
    color: white;
    font-weight: lighter;
    font-size: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  .btnContainer {
    width: 100%;
    margin-right: 15px;
  }
  .employerContribution {
    width: 90%;
    height: 8%;
    display: flex;
    font-size: 11px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .interestRate {
    width: 90%;
    height: 8%;
    display: flex;
    font-size: 11px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .contributionSlider {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }
  .contributionsHeadings {
    font-size: 8px;
    margin: 0px;
  }
  .strategyHeading {
    font-size: 10px;
  }
  .infoLabel {
    font-size: 9px;
    color: black;
    font-weight: bold;
  }
  .circularProgressContainer {
    width: 50%;
  }
  .averageProgressContainer {
    width: 25%;
  }

  .circular-progress {
    height: 50px;
    width: 50px;
    max-height: 60px;
    max-width: 60px;
  }

  .circular-progress::before {
    height: 40px;
    width: 40px;
    max-height: 50px;
    max-width: 50px;
  }

  .progress-value {
    font-size: 12px;
  }

  .progress-text {
    font-size: 12px;
  }
  .withdrawalContainer {
    width: 100%;
  }
  .comparisonHeading {
    font-size: 8px;
  }
  .profileIntroContainer {
    height: 20%;
  }
  .logo {
    height: 20px;
    width: 20px;
    margin-top: 35px;
  }
  .navIcon {
    font-size: 14px;
  }
  .desktopSearch {
    font-size: 12px;
  }
  .desktopNotification {
    justify-content: flex-start;
  }
  .exitIcon {
    justify-content: flex-start;
  }
  .profileContainer {
    width: auto;
  }
  .greetContainer {
    width: 55%;
  }
  .profile {
    height: 45px;
    width: 45px;
    border-radius: 25px;
  }
  .Name {
    font-size: 18px;
    position: absolute;
  }
  .greet {
    margin-top: 40px;
    font-size: 12px;
  }
  .todayAmount {
    margin-top: -15%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .todayContributions {
    margin-top: -15px;
    font-size: 12px;
    color: grey;
  }
  .todayBalance {
    margin-top: -15px;
    font-size: 10px;
    color: grey;
  }
  .Dropdown {
    width: 65%;
  }
  .todayAmount {
    font-size: 16px;
    margin-top: -5px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .day {
    font-size: 8px;
    margin-top: -10px;
  }
  .contributions {
    display: none;
  }
  .withdrawalContainer {
    width: 100%;
  }
  .date {
    font-size: 9px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .withdrawal {
    font-size: 8px;
    margin-top: -5px;
  }
  .Dropdown {
    height: 30px;
    border-radius: 5px;
  }
  .day {
    font-size: 10px;
  }
  .boldText {
    font-size: 12px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .myGoalContainer {
    justify-content: center;
    height: 80%;
  }
  .goalAchievedContainer {
    justify-content: center;
    height: 80%;
  }
  .estimateIncomeContainer {
    justify-content: center;
    height: 80%;
  }
  .amount {
    font-size: 16px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .myGoal {
    font-size: 10px;
    margin-top: 3px;
  }

  .totalInterestContainer {
    width: 40%;
  }
  .ContributionAmount {
    font-size: 10px;
    color: black;
    margin: 0;
  }
  .contributionText {
    font-size: 10px;
  }
}

.dropdown {
  position: relative;
}

.dropdown button {
  border: none;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  height: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
